body{
    background-color: dimgrey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header{
    background-color: black;
    color: aliceblue;
    height: 75px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#main{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2em;
}

.card__image{
    width: 96px;
}

.hello {
    color: orange;
    font-size: 15px;
    font-weight: 700;
}

#footer{
    min-height: 2em;
    background-color: orangered;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
